extends layout

block content
    .w3-container(style="background-color:#36393e")
        .w3-row
            .w3-col.m3
                h1
            .w3-col.m6.w3-container
                h1 Adicionar Transporte
            .w3-col.m3
                h1
        .w3-row
            .w3-col.m3
                h1
            .w3-col.m6.w3-container
                form.w3-container(method="POST" action="/transporte/adicionar")
                    fieldset#transporte
                        input(type="hidden" name="codEvento" value=codEvento)
                        legend Transporte
                        .w3-row
                            label Distância
                        .w3-row
                            input.w3-input.w3-round(type="number", name="distancia", min="0", step="0.01")
                        .w3-row
                            label Custo
                        .w3-row
                            input.w3-input.w3-round(type="number", name="custo", min="0", step="0.01")
                        .w3-row
                            label Condutor
                        .w3-row
                            .w3-col.w3-half
                                input.w3-input.w3-round(type="text", name="condutores")
                            .w3-col.w3-half.w3-container
                                a.w3-btn.w3-deep-orange(onclick="addField('text', 'condutores', 'transporte', 'Condutor')") Adicionar Condutores
                        .w3-row
                            label Transportado
                        .w3-row
                            .w3-col.w3-half
                                input.w3-input.w3-round(type="text", name="transportados")
                            .w3-col.w3-half.w3-container
                                a.w3-btn.w3-deep-orange(onclick="addField('text', 'transportados', 'transporte', 'Transportado')") Adicionar Transportado
                    .w3-row.w3-container.w3-padding-16
                        button.w3-btn.w3.w3-deep-orange(style="width:100%" type="submit") Adicionar
    .w3-col.m3
                h1