extends layout

block content
    .w3-container(style="height:100vh;background-color:#36393e")
        .w3-row 
            h1 Editar Dívida de Equipamento
        .w3-row
            form.w3-container(method="POST" action="/equipamento/dividaEquipamento/editar")
                fieldset
                    legend Dívida Equipamento
                    label Utilizador
                    input.w3-input.w3-round(type="text" name="userID" value=dividaEquipamento.userID readonly)
                    label Código do Equipamento
                    input.w3-input.w3-round(type="text" name="codEquipamento" value=dividaEquipamento.codEquipamento readonly)
                    label Tamanho
                    input.w3-input.w3-round(type="text" name="tamanho" value=dividaEquipamento.tamanho readonly)
                    input(type="hidden" name="_id" value=dividaEquipamento._id)
                fieldset
                    legend Estado
                    select.w3-select(name="estado")
                        if dividaEquipamento.estado == "entregue"
                            option(value="entregue" selected) Entregue 
                        else
                            option(value="entregue") Entregue
                        if dividaEquipamento.estado == "não entregue"
                            option(value="não entregue" selected) Não entregue 
                        else
                            option(value="não entregue") Não entregue 
                        if dividaEquipamento.estado == "pago"
                            option(value="pago" selected) Pago 
                        else
                            option(value="pago") Pago

                br

                .w3-row(style="width:100%") 
                    .w3-half.w3-container
                        a(href="/equipamento/diretoria" style="text-decoration:none;width:100%").w3-btn.w3-white.w3-margin-right Cancelar
                    .w3-half.w3-container
                        button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Atualizar Estado