extends layout

block content
    .w3-container.w3-black(style="height:100vh;display:flex;justify-content:center")
        .w3-container.w3-black(style="width:70%")
            h3 #{texto}
            button.w3-btn.w3-white.w3-margin-right(style="width:100%")  
                a(href=voltarUrl style="text-decoration:none") Voltar