extends layout

block content
    .w3-container(style="background-color:#36393e")
        .w3-row
            h1 Inscrição #[i.fas.fa-user]
        .w3-row
            .w3-col.m3
                h1
            .w3-col.m6
                .w3-row
                    table.w3-table(style="background-color:#424549")
                        tr.w3-deep-orange
                            th
                            th
                        tr
                            td
                                abbr(title="Nº Sócio" style="text-decoration:none")
                                    h2 Sócio #[i.fas.fa-user]
                            td
                                h2.w3-center #{inscrito.userID} | #{usersMap.get(inscrito.userID).nome}
                        if inscrito.despesaExtra
                            tr
                                td
                                    abbr(title="Despesa Extra" style="text-decoration:none")
                                        h2 Extra #[i.fas.fa-euro-sign]
                                td
                                    h2.w3-center #{inscrito.despesaExtra} #[i.fas.fa-euro-sign]
                        if inscrito.descricao
                            tr
                                td
                                    abbr(title="Descrição" style="text-decoration:none")
                                        h2 Desc. #[i.fas.fa-comment]
                                td
                                    p.w3-center #{inscrito.descricao}

            .w3-col.m3
                h1

        .w3-row.w3-container.w3-padding-16
            .w3-col.m3
                h1
            .w3-col.m3.w3-container
                button.w3-btn.w3-blue.w3-margin-right(style="width:100%")
                    a(href="editar/" + inscrito._id style="text-decoration:none; display:block") Editar
            .w3-col.m3.w3-container
                button.w3-btn.w3-red.w3-margin-right(style="width:100%")
                    a(href="remover/" + inscrito._id style="text-decoration:none; display:block") Remover
            .w3-col.m3
                h1

