doctype html
html
  head
    title= COM
    meta(charset='utf-8')
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    .w3-sidebar.w3-bar-block(style="width:15%;background-color:#1e2124")
      button.w3-bar-item.w3-button.w3-large(style="color:white") COM
      if nivelAcesso == "diretor" || nivelAcesso == "socio"
        a(href="/home").w3-bar-item.w3-button(style="color:white") Página Principal
      if nivelAcesso == "diretor"
        a(href="/equipamento/diretoria").w3-bar-item.w3-button(style="color:white") Equipamentos
      if nivelAcesso == "socio"
        a(href="/equipamento/socio").w3-bar-item.w3-button(style="color:white") Equipamentos
      if nivelAcesso == "diretor" || nivelAcesso == "socio"
        a(href="/equipamento/evento").w3-bar-item.w3-button(style="color:white") Eventos 
      if nivelAcesso == "diretor"
        a(href="/utilizador").w3-bar-item.w3-button(style="color:white") Utilizadores
      if nivelAcesso == "socio"
        a(href="/perfil/").w3-bar-item.w3-button(style="color:white") Meu Perfil
      if nivelAcesso == "diretor" || nivelAcesso == "socio"
        a(href="/autenticacao/logout").w3-bar-item.w3-button(style="color:white") Logout
    .w3-black(style="margin-left:15%")
      block content