doctype html
html
  head
    title= COM
    meta(charset='utf-8')
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    .w3-bar.w3-deep-orange
      a(href="#").w3-bar-item.w3-button Página Principal
      a(href="/equipamento/socio").w3-bar-item.w3-button Equipamentos
    block content