extends layout

block content
    .w3-container(style="height:100vh;background-color:#36393e")
        .w3-row 
            h1 Login
        .w3-row
            .w3-half.w3-container
                form.w3-container(method="POST" action="/autenticacao/login")
                    fieldset
                        legend Login
                        input.w3-input.w3-round(type="text" name="username" placeholder="username" style="margin-bottom:6px;background-color:#282b30;color:white;border:none")
                        input.w3-input.w3-round(type="password" name="password" placeholder="password" style="background-color:#282b30;color:white;border:none")
                    br 
                    button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Login
            .w3-half.w3-container
                img(src="https://raw.githubusercontent.com/LittleLevi05/Trabalho-RPCW/main/images/login.png" alt="Lights" style="width:100%")