extends layout

block content
    .w3-container(style="height:100vh;display:flex;justify-content:center;background-color:#36393e")
        .w3-container(style="width:70%")
            form.w3-container(method="POST" action="/autenticacao/login")
                fieldset
                    legend Login
                    label Username
                    input.w3-input.w3-round(type="text" name="username")
                    label Senha
                    input.w3-input.w3-round(type="password" name="password")
                br 
                button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Login