extends layout

block content
    .w3-container.w3-black(style="height:100vh;display:flex;justify-content:center")
        .w3-container.w3-black(style="width:70%")
            form.w3-container(method="POST" action="/login")
                fieldset
                    legend Login
                    label E-mail
                    input.w3-input.w3-round(type="email" name="nome")
                    label Senha
                    input.w3-input.w3-round(type="text" name="senha")
                br 
                button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Login