extends layout

block content
    .w3-container(style="height:100vh;background-color:#36393e")
        .w3-row 
            h1 Login
        .w3-row
            form.w3-container(method="POST" action="/autenticacao/login")
                fieldset
                    legend Login
                    label Username
                    input.w3-input.w3-round(type="text" name="username")
                    label Senha
                    input.w3-input.w3-round(type="password" name="password")
                br 
                button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Login