extends layout

block content
    .w3-container(style="background-color:#36393e")
        .w3-row 
            .w3-half.w3-container
                h1 Adicionar Utilizador
                form.w3-container(method="POST" action="/utilizador/adicionar")
                    fieldset
                        legend Registo
                        label Nº Sócio
                        input.w3-input.w3-round(type="text" name="nSocio")
                        label Nome Completo
                        input.w3-input.w3-round(type="text" name="nome")
                        label Username
                        input.w3-input.w3-round(type="text" name="username")
                        label Password
                        input.w3-input.w3-round(type="text" name="password")
                        label Data de Nascimento
                        input.w3-input.w3-round(type="date" name="dataNacimento")
                        label Idade
                        input.w3-input.w3-round(type="text" name="idade")
                        
                        label Sexo
                        select(name="sexo")
                            option(value="M") M 
                            option(value="F") F 
                            option(value="Outro") Outro
                        br

                        label Nível
                        select(name="nivel")
                            option(value="socio") socio 
                            option(value="diretor") diretor
                        br
                        label CC
                        input.w3-input.w3-round(type="text" name="cc")
                        label E-mail
                        input.w3-input.w3-round(type="email" name="email")
                        label Telefone Fixo
                        input.w3-input.w3-round(type="text" name="telFixo")
                        label Nº FPO
                        input.w3-input.w3-round(type="text" name="nFPO")
                        label Telemóvel
                        input.w3-input.w3-round(type="text" name="telMovel")
                        label Morada
                        input.w3-input.w3-round(type="text" name="morada")
                    br 
                    button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Criar Conta
            .w3-half.w3-container
                h1 Utilizadores
                table.w3-table(style="background-color:#424549")
                    tr.w3-black 
                        th Username 
                        th E-mail
                        th Telemóvel
                        th 
                    
                    each utilizador in utilizadores
                        tr.w3-hover-deep-orange
                            td= utilizador.username
                            td= utilizador.email
                            td= utilizador.telMovel
                            td 
                                button.w3-btn.w3-blue.w3-margin-right  
                                    a(href="/utilizador/editar/"+utilizador._id style="text-decoration:none") Editar