extends layout

block content
    .w3-container(style="background-color:#36393e")
        .w3-row 
            .w3-half.w3-container
                h1 Adicionar Utilizador
                form.w3-container(method="POST" action="/utilizador/adicionar")
                    fieldset
                        legend Registo
                        input.w3-input.w3-round(type="text" name="nSocio" placeholder="nº Sócio" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="nome" placeholder="Nome completo" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="username" placeholder="username" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="password" placeholder="senha" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="date" name="dataNacimento" placeholder="data de nascimento" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="idade" placeholder="idade" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        
                        label Sexo
                        select(name="sexo")
                            option(value="M") M 
                            option(value="F") F 
                            option(value="Outro") Outro
                        br

                        label Nível
                        select(name="nivel")
                            option(value="socio") socio 
                            option(value="diretor") diretor
                        br
                        input.w3-input.w3-round(type="text" name="cc" placeholder="cc" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="email" name="email" placeholder="email" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="telFixo" placeholder="telefone fixo" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="nFPO" placeholder="nº FPO" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="telMovel" placeholder="telemóvel" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                        input.w3-input.w3-round(type="text" name="morada" placeholder="morada" style="background-color:#282b30;color:white;border:none; margin-top:6px")
                    br 
                    button.w3-btn.w3.w3-deep-orange.w3-margin-right(style="width:100%" type="submit") Criar Conta
            .w3-half.w3-container
                h1 Utilizadores
                table.w3-table(style="background-color:#282b30")
                    tr.w3-black 
                        th Username 
                        th Telemóvel
                        th
                        th 
                    
                    each utilizador in utilizadores
                        tr.w3-hover-deep-orange
                            td= utilizador.username
                            td= utilizador.telMovel
                            td 
                                button.w3-btn.w3-blue.w3-margin-right  
                                    a(href="/utilizador/editar/"+utilizador._id style="text-decoration:none") Editar
                            td 
                                button.w3-btn.w3-red.w3-margin-right  
                                    a(href="/utilizador/remover/"+utilizador._id style="text-decoration:none") Remover